* {
    padding: 0;
    margin: 0;
}

body {
    background: #2C3E50;
    color: #FFF;
    font-family: "Lato",sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container header {
    margin: 35px 0 15px 0;
}

.container header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.container main section #song {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.container main section #searchButton {
    display: block;
    width: 20%;
    margin: 5px auto;
    height: 35px;
    border-radius: 5px;
}

.container main #section-2 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.container main #section-2 .song {
    width: 33.3%;
    margin: 5px 0;
}
    
.container main #section-2 .song .artist-name {
    text-align: center;
    color: #FFF;
    background : #445565;
    width : 230px;
    margin  : 0 auto;
    padding : 10px;
}

.container main #section-2 .song .album-cover {
    display: block;
    margin: 0 auto;
}
    
.container main #section-2 .song .song-title {
    text-align: center;
    margin: 10px 0;
}
    
.container main #section-2 .song .song-preview {
    width: 90%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 499px) {

    .container main #section-2 .song {
        width: 90%;
        margin: 8px auto;
    }

    .container main #section-2 .song .song-preview {
        width: 100%;
    }
}

@media screen and (min-width: 50px) and (max-width: 768px) {
    .container main #section-2 .song {
        width: 45%;
        margin: 8px auto;
    }

    .container main #section-2 .song .song-preview {
        width: 100%;
    }
    
  
  }

  